<div>
  <h4 class="app-title">Scheduler App</h4>
  <div class="app-filter">
    <div class="k-form-field k-datetime-picker-wrapper">
      <span>Seats</span>
      <kendo-dropdownlist
        [data]="seatData"
        textField="text"
        valueField="value"
        [valuePrimitive]="true"
        [(ngModel)]="filterSeat"
        (valueChange)="onSeatFilterChange($event)"
      >
      </kendo-dropdownlist>
    </div>
    <div class="k-form-field k-datetime-picker-wrapper">
      <span>Start</span>
      <kendo-timepicker
        class="custom-picker"
        (valueChange)="onTimeFilterChange()"
        [(ngModel)]="filterStart"
      >
      </kendo-timepicker>
    </div>
    <div class="k-form-field k-datetime-picker-wrapper">
      <span>End</span>
      <kendo-timepicker
        class="custom-picker"
        (valueChange)="onTimeFilterChange()"
        [(ngModel)]="filterEnd"
      >
      </kendo-timepicker>
    </div>
  </div>
  <kendo-scheduler
    kendoSchedulerSlotSelectable
    [kendoSchedulerReactiveEditing]="createFormGroup"
    [kendoSchedulerBinding]="reservation"
    [group]="group"
    [resources]="resources"
    [selectedDate]="selectedDate"
    style="height: 620px"
    [(slotSelection)]="selection"
    [editService]="editService"
  >
    <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>
    <ng-template
      kendoSchedulerEditDialogTemplate
      autoFocusedElement=".title-input"
      let-formGroup="formGroup"
      let-isNew="isNew"
      let-editMode="editMode"
    >
      <div class="k-form-inline">
        <div class="k-form-field k-datetime-picker-wrapper">
          <span>Start</span>
          <kendo-datepicker
            class="custom-picker"
            [formControl]="formGroup.get('start')"
          >
          </kendo-datepicker>
          <kendo-timepicker
            class="custom-picker"
            [formControl]="formGroup.get('start')"
          >
          </kendo-timepicker>
        </div>
        <div class="k-form-field k-datetime-picker-wrapper">
          <span>End</span>
          <kendo-datepicker
            class="custom-picker"
            [formControl]="formGroup.get('end')"
          >
          </kendo-datepicker>
          <kendo-timepicker
            class="custom-picker"
            [formControl]="formGroup.get('end')"
          >
          </kendo-timepicker>
        </div>
        <div class="k-form-field k-datetime-picker-wrapper">
          <span>Table</span>
          <kendo-dropdownlist
            [data]="tables"
            textField="name"
            valueField="tableId"
            [valuePrimitive]="true"
            [formControl]="formGroup.get('tableId')"
          >
          </kendo-dropdownlist>
        </div>
        <div class="k-form-field k-datetime-picker-wrapper">
          <span>Customer Name</span>
          <kendo-textbox
            [formControl]="formGroup.get('customerName')"
          >
          </kendo-textbox>
        </div>
        <div class="k-form-field k-datetime-picker-wrapper">
          <span>Customer Email</span>
          <kendo-textbox
            [formControl]="formGroup.get('customerEmail')"
          >
          </kendo-textbox>
        </div>
        <div class="k-form-field k-datetime-picker-wrapper">
          <span>Customer Ph No</span>
          <kendo-textbox
            [formControl]="formGroup.get('customerPhone')"
          >
          </kendo-textbox>
        </div>
      </div>
    </ng-template>
  </kendo-scheduler>
</div>
