.app-title{
    margin: 0;
    padding: 8px 8px;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #cdcdcd;
}

.app-filter{
    padding: 8px 8px;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}